[submodule "Assets/wgs-core"]
	path = Assets/wgs-core
	url = git@github.com:WobblyGamerStudios/wgs-core.git
[submodule "Assets/wgs-locomotion"]
	path = Assets/wgs-locomotion
	url = git@github.com:WobblyGamerStudios/wgs-locomotion.git
[submodule "Assets/wgs-locomotion-third-person"]
	path = Assets/wgs-locomotion-third-person
	url = git@github.com:WobblyGamerStudios/wgs-locomotion-third-person.git
