# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.untitled-third-person.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Development\Unity\WobblyGamer\Workspaces\untitled-third-person\.idea\.idea.untitled-third-person\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
